<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
  <header>  
    <!-- Nav Bar -->
    <nav>
      <!-- Display Page Name -->
      <div class="display-name-box">
        <h1>The Tech Blog</h1>
      </div>

      <!-- Nav Links -->
      <div class="blog-nav-box">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          {{#if logged_in}}
            <li><a href="/api/users/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <h4>The Tech Blog - &copy 2022 Jonathan Cornet Webpage Production</h4>
  </footer>
</body>
</html>