<div class="dashboard">
  {{#if logged_in}}
    <h3>Welcome to your post history dashboard, {{user_name}}</h3>
  {{else}}
    <h3>You are not logged in, so there is no post history to display!</h3>
  {{/if}}
</div>