<div class="form">
  <div class="form-heading">Login</div>
  <form action="" id="login">
    <label for="loginEmail"><span>E-mail<span class="required"> *</span></span><input type="text" class="input-field" name="loginEmail" id="loginEmail" placeholder="you@place.com"/></label>
    <label for="loginPassword"><span>Password<span class="required"> *</span></span><input type="text" class="input-field" name="loginPassword" id="loginPassword" placeholder="super secret password"/></label>
    <label><span> </span><input type="submit" value="Login"/></label>
    <p><a href="/signup">Need to sign up?</a></p>
  </form>
</div>

<script src="/js/login.js"></script>