<div class="form">
  <div class="form-heading">Sign-up</div>
  <form action="" id="signup">
    <label for="signupUsername"><span>Username<span class="required"> *</span></span><input type="text" class="input-field" name="signupUsername" id="signupUsername" placeholder="xx_radnickname_xx"/></label>
    <label for="signupUsername"><span>E-mail<span class="required"> *</span></span><input type="text" class="input-field" name="signupEmail" id="signupEmail" placeholder="you@place.com"/></label>
    <label for="loginPassword"><span>Password<span class="required"> *</span></span><input type="text" class="input-field" name="signupPassword" id="signupPassword" placeholder="super secret password"/></label>
    <label><span> </span><input type="submit" value="Sign-up"/></label>
    <p><a href="/login">Need to login?</a></p>
  </form>
</div>

<script src="/js/signup.js"></script>